li {
    margin-left: 2em;
}

hr {
    margin-top: 1em;
}

main {
    margin: 24px auto;
}

nav li {
    margin-left: 0;
}

details {
    margin: 1em 0;
}

table {
    margin: 1em auto;
}

table img {
    width: 120px;
}

td {
    padding: 2px;
}


/* default.html */

.docs-header {
    height: 24px;
    background-color: #FCFCFC;
}