---
layout: default
---

<style>
    table {
        margin: 1em auto;

        width: 100%;
        max-width: 480px;

        border: 4px solid {{ page.color | default: "#9088ff" }};
        border-radius: 4px;
    }

    table a {
        color: #2f333d;
    }
    
    table img {
        width: 120px;
    }

    .profile-table {
        max-width: 320px;
    }

    .table-title {
        width: 30%;

        text-align: center;
        
        font-weight: bold;
        background-color: {{ page.color | default: "#9088ff" }};
    }

    .table-subtitle {
        font-weight: bold;
        color: {{ page.color | default: "#9088ff" }};
    }

    .portrait {
        width: 100%;

        margin: auto;
    }

</style>

<h1>{{ page.title }}</h1>
<p><strong>{{ page.charname }}</strong></p>

<details>
    <summary>목차</summary>
    <ul>
        <li><a href="#profile">프로필</a></li>
        {% assign chunks = content | split: '<h2' %}
        {% for chunk in chunks offset:1 %}
            {% assign id = chunk | split: 'id="' | last | split: '"' | first %}
            {% assign label = chunk | split: '>' | slice: 1 | first | split: '</h2' | first %}
            <li><a href="#{{ id }}">{{ label }}</a></li>
        {% endfor %}
    </ul>
</details>

<div class="flexer">
<table class="profile-table" id="profile">
    <tr>
        <td colspan="3">
            <img src="/universe/assets/img/portraits/{{ page.charname | downcase }}_portrait.png" alt="{{ page.title }} 포트레이트" class="portrait" id="portrait">
        </td>
    </tr>
    <tr>
        <td rowspan="2" class="table-title">이름</td>
        <td class="table-subtitle">한국어</td>
        <td>{{ page.name-ko }}</td>
    </tr>
    <tr>
        <td class="table-subtitle">영어</td>
        <td>{{ page.name-en }}</td>
    </tr>
    <tr>
        <td class="table-title">소속</td>
        <td colspan="2">{{ page.affiliation }}</td>
    </tr>
    <tr>
        <td class="table-title">거주지</td>
        <td colspan="2">{{ page.residence }}</td>
    </tr>
    <tr>
        <td class="table-title">종족</td>
        <td colspan="2">{{ page.kind }}</td>
    </tr>
    <tr>
        <td class="table-title">성별</td>
        <td colspan="2">{{ page.gender }}</td>
    </tr>
    <tr>
        <td class="table-title">나이</td>
        <td colspan="2">{{ page.age }}</td>
    </tr>
    <tr>
        <td class="table-title">좋아하는 것</td>
        <td colspan="2">{{ page.like }}</td>
    </tr>
    <tr>
        <td class="table-title">싫어하는 것</td>
        <td colspan="2">{{ page.hate }}</td>
    </tr>
</table>
</div>

{{ content }}