---
layout: default
---

<h1>{{ page.title }}</h1>
<p><i>{{ page.charname }}</i> <br> ― {{ page.world }}</p>

<details>
    <summary>목차</summary>
    <ul>
        {% assign chunks = content | split: '<h2' %}
        {% for chunk in chunks offset:1 %}
            {% assign id = chunk | split: 'id="' | last | split: '"' | first %}
            {% assign label = chunk | split: '>' | slice: 1 | first | split: '</h2' | first %}
            <li><a href="#{{ id }}">{{ label }}</a></li>
        {% endfor %}
    </ul>
</details>

<hr>

<img src="/universe/assets/img/portraits/{{ page.charname | downcase }}_portrait.png" alt="전신 초상화" class="portrait" id="portrait">

{{ content }}