<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Redder">
        <meta name="descriotipn" content="Archived Space, A journey from fantasy to ideality.">
        <meta name="theme-color" content="#9088ff">
        
        <meta property="og:title" content="Arcaspai: Universe Guidebook">
        <meta property="og:description" content="Archived Space, A journey from fantasy to ideality.">
        <meta property="og:image" content="https://arcaspai.github.io/universe/assets/img/banner.png">
        <meta property="og:url" content="https://arcaspai.github.io/universe">
        <meta property="og:type" content="website">

        <link rel="canonical" href="https://arcaspai.github.io/universe">

        <link rel="icon" href="/images/logo/arcaspai_symbol_gradient2.svg" type="text/svg">
        <link rel="stylesheet" href="/style.css" type="text/css">
        <link rel="stylesheet" href="/universe/assets/css/style.css" type="text/css">
        
        <title>{{ page.title }} - Arcaspai: Universe Guidebook</title>
    </head>
    
    <body>
        <nav>
            <div class="nav-logo">
                <a href="/universe"><img src="/images/logo/arcaspai_logo_gradient2.svg" width="120"></a>
            </div>

            <details>
                <summary alt="menu"></summary>
                <ul>
                    <li><a href="/universe">홈</a></li>
                    <li><a href="/universe/global-law">전역 법칙</a></li>
                    <li><a href="/universe/worlds">세계관</a></li>
                    <li><a href="/universe/characters">캐릭터</a></li>
                    <li><a href="/index">상위 페이지</a></li>
                </ul>
            </details>
        </nav>

        <header class="docs-header">

        </header>

        <main>
            {{ content }}
        </main>
        
        <footer>
            <p>Arcaspai Project ⓒ 2021-2026 Redder. All rights reserved.</p>
            <p>contact: <a href="mailto:arcaspai0829@gmail.com">arcaspai0829@gmail.com</a></p>
        </footer>
        
    </body>

</html>